<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Torai Lin" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base target="_self" />
    <title>抽獎前台</title>
  </head>
  <body>
    <div class="result" style="display:none;">
      <p class="prize-name"></p>
      <img class="prize-image" src="" alt="prize" style="width:10rem; height:10rem;">
      <p class="prize-description"></p>
    </div>
    <button class="draw-btn">抽獎</button>
  </body>
  <script>
    document.querySelector('.draw-btn').addEventListener('click', (e) => {
      fetch('<%= domain %>:<%= port %>/lottery?mode=random')
        .then((res) => res.json())
        .then((prize) => {
          document.querySelector('.prize-name').textContent = prize.name
          document.querySelector('.prize-image').setAttribute('src', prize.imageUrl)
          document.querySelector('.prize-description').textContent = prize.description
          document.querySelector('.result').style['display'] = 'initial'
        })
        .catch((err) => console.error(err))
    })
  </script>
</html>
