$title-color: #489846;
$nav-text-color: #010101;
$active-links-color: #ff7286;
$active-text-color: #fefefe;
$banner-text-color: white;
$banner-height: 80vh;
$section-title-color: #a3dea2;
$order-btn-text-color: #3e613d;
$btn-get-menu-color: #a8e8e1;
$btn-inquiry-color: #f9f9b5;
$footer-text-color: #484848;
$lottery-title-color: #5ec1b6;
$lottery-text-color: #322929;
$lottery-button-color: #e62a45;
$lottery-button-text-color: white;
$lottery-divider-color: #cdcdcd;
$lottery-result-color: #292222;
$faq-serial-color: #70b282;
$faq-divider-color: #a6e2c0;
$menu-card-text-color: #3f633c;
$menu-card-button-color: #f1fff2;

@mixin section-title-style {
  font-size: 2.25rem;
  font-family: my-font;
  font-weight: bold;
  text-align: center;
  margin: 2.25rem;

  &::before {
    content: '';
    background-color: $section-title-color;
    display: inline-block;
    width: .93rem;
    height: 2.37rem;
    vertical-align: bottom;
    margin-right: 1rem;
  }
}

@mixin lottery-button-style {
  background-color: $lottery-button-color;
  color: $lottery-button-text-color;
  border-radius: .5rem;
  border: unset;
  max-width: 80%;
  width: 25rem;
  height: 3.43rem;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-size: 1.25rem;
  font-family: my-font;

  &:active {
    box-shadow: -5px 8px 5px 1px rgba(163, 28, 28, 75%) inset;
  }
}

@mixin lottery-background-filter {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    opacity: .35;
  }
}

@mixin menu-image-filter {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    opacity: .35;
  }
}

@mixin card-width($margin, $num) {
  width: calc((100% - #{$margin} * 2 * #{$num}) / #{$num})
}

@mixin backend-panel-input-style($tab, $plural) {
  .#{$plural} {
    .#{$tab} {
      [class^="#{$tab}__"] {
        position: relative;
        padding: 0;
        height: 3rem;
  
        .hide {
          display:none;
        }

        input {
          position: relative;
          width: 100%;
        }

        [class$="-cover"] {
          position: absolute;
          background-color: white;
          width: 100%;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          padding: .5rem .3rem;
          overflow: auto;
        }
      }
    }
  }
}

@mixin cart-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 6fr repeat(3, 2fr);
  text-align: center;
  padding: 1rem 0;
}

@mixin cart-summary-style {
  background-color: #f8f8f8;
  text-align: right;
  padding: .8rem 2rem;
}

@mixin dollar-prefix {
  &::before {
    content: '$'
  }
}

// Unicode character range
// https://www.ling.upenn.edu/courses/Spring_2003/ling538/UnicodeRanges.html
@font-face {
  // CJK Unified Ideographs
  font-family: my-font;
  src: local("Microsoft JhengHei"), local("sans-serif");
  unicode-range: U+4E00-9FFF;
}
// vietnamese
@font-face {
  font-family: my-font;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/questrial/v13/QdVUSTchPBm7nuUeVf70sSFlq20.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
// latin-ext 
@font-face {
  font-family: my-font;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/questrial/v13/QdVUSTchPBm7nuUeVf70sCFlq20.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
// latin
@font-face {
  font-family: my-font;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/questrial/v13/QdVUSTchPBm7nuUeVf70viFl.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
