<footer>
  <div class="footer__top">
    <div class="footer__top--wrapper">
      <p class="info">
        餐館地址: 天上地下天堂路三分之一里六段520號<br />
        訂位專線：02-1314-5566<br />
        營業時間：週一〜週五 09:00~18:00 / 週六、週日、國定假日（含連假）休息<br />
        email：service@justabite.com.tw
      </p>

      <div class="contact">
        <h2 class="title"><a href="/restaurant">Just A Bite!</a></h2>

        <p class="links"><a href="#">Facebook</a> / <a href="#">Instagram</a> / <a href="#">Youtube</a></p>
      </div>
    </div>
  </div>

  <p class="footer__bottom">Copyright © 2020 Just A Bite All Rights Reserved. 咬一口股份有限公司版權所有</p>
</footer>