.debug *, .debug {
  outline: 1px solid gold;
}

/* reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* my css */
html, body {
  font-family: 'Microsoft JhengHei';
}

.wrapper {
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
  background-color: white;
}

nav {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav .title {
  margin: 1.3rem;
}

.title {
  color: #489846;
  font-size: 2.25rem;
}

.links {
  display: flex;
  font-size: 1.125rem;
}

.links li a {
  display: inline-block;
  color: #010101;
  text-decoration: none;
  padding: 1rem 1.5rem 1rem;
  border-radius: .5rem;
  text-align: center;
}

.links .active {
  background-color: #ff7286;
  color: #fefefe;
}

.links a:hover {
  background-color: #ff7286;
  color: #fefefe;
}

main {
  position: relative;
}

.background-img {
  width: 100%;
  height: 150vh;
}

.background-img--main {
  background-image: url('./src/games-bn@2x.jpg');
  background-size: cover;
  background-position: center;
}

.background-img--first {
  background-image: url('./src/flight.jpg');
  background-size: cover;
  background-position: 65% 50%;
  opacity: .6;
}

.background-img--second {
  background-image: url('./src/living-room.jpg');
  background-size: cover;
  background-position: center;
  opacity: .6;
}

.background-img--third {
  background-image: url('./src/youtube.jpg');
  background-size: cover;
  background-position: center;
  opacity: .5;
}

.background-img--none {
  background-color: black;
}

.center-text {
  text-align: center;
}

.activity {
  width: 80%;
  max-width: 630px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 1rem;
  transform: translate(-50%, -50%);
}

.activity-grid {
  background-color: white;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: 
  "title title"
  "period__head period__content"
  "desc__head desc__content"
  "prize__head prize__content"
  "button button";
}

.activity__title {
  color: #5ec1b6;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  grid-area: title;
  margin: 2rem 3rem;
}

.period__head { grid-area: period__head; }

.period__content { grid-area: period__content; }

.desc__head { grid-area: desc__head; }

.desc__content { grid-area: desc__content; }

.prize__head { grid-area: prize__head; }

.prize__content { grid-area: prize__content; }

.btn {
  grid-area: button;
  margin: 1.5rem auto;
  background-color: #e62a45;
  color: white;
  width: 60%;
  padding: 1.125rem 0;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.head {
  margin-left: 1.25rem;
  word-break: keep-all;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  border-bottom: #cdcdcd 1px solid;
  padding-top: 1.5rem;
}

.content {
  font-size: 1rem;
  padding: 1.5rem 0 1.2rem 1.5rem;
  margin-right: 1.2rem;
  border-bottom: #cdcdcd 1px solid;
}

.lottery__desc {
  font-size: 2.25rem;
  color: #292222;
}

.lottery__desc.desc--white {
  color: white;
}

.footer__wrapper {
  background-color: #e8efee;
}

footer {
  display: grid;
  grid-template-rows: 1fr auto;
  font-size: .875rem;
}

.top {
  max-width: 1280px;
  margin: 0 auto;
  color: #484848;
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: center;
}

.info {
  line-height: 1.5rem;
  margin: 1rem 0 1rem 1rem;
  text-align: center;
}

.contact {
  order: -1;
  text-align: center;
}

.contact a{
  text-decoration: none;
  color: #484848;
  display: inline-block;
  margin-top: .5rem;
}

.bottom {
  background-color: #35564b;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
}

@media screen and (min-width: 768px) {
  nav {
    flex-direction: row;
  }

  .links li a {
    margin: 0 .4rem;
  }

  .activity {
    top: 30%;
  }

  .top {
    grid-template-columns: 4fr 1fr 2fr;
    grid-template-rows: 1fr;
  }

  .info {
    text-align: left;
  }

  .contact {
    order: 0;
    grid-column: 3 /4;
  }

}

@media screen and (min-width: 1500px) {
  nav {
    transform: translateX(5%);
  }
}
