.lottery {
  background-size: cover;
  height: 68vh;
  background-color: black;
  background-size: cover;
  position: relative;

  &[data-background-image="main"] {
    background-image: url(../images/games-bn@2x.jpg);
  }

  &[data-background-image="FIRST"] {
    background-image: url(../images/flight.jpg);
    @include lottery-background-filter
  }

  &[data-background-image="SECOND"] {
    background-image: url(../images/living-room.jpg);
    @include lottery-background-filter
  }

  &[data-background-image="THIRD"] {
    background-image: url(../images/youtube.jpg);
    @include lottery-background-filter
  }

  &[data-background-image="NONE"] {
    background-image: none;

    .lottery__result {
      .message {
        color: white;
      }
    }
  }

  .lottery__info {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    max-width: 500px;
    padding: 1.25rem;
    border-radius: 1rem;

    .title {
      font-size: 1.5rem;
      color: $lottery-title-color;
      text-align: center;
      margin-bottom: 2.75rem;
    }

    > div {
      display: flex;
      font-family: my-font;
      color: $lottery-text-color;

      > h3 {
        font-size: 1.125rem;
        font-weight: bold;
        max-width: fit-content;
      }

      > p {
        font-size: 1rem;
        flex: 1 1 0;
        padding-left: 1.25rem;
      }
    }

    hr {
      background-color: $lottery-divider-color;
      height: 1px;
      border: unset;
      margin: 1.5rem 0 1.25rem 0;
    }

    button {
      @include lottery-button-style;
    }
  }

  .lottery__result {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .message {
      text-align: center;
      font-size: 2.25rem;
      margin-bottom: 3.43rem;
    }

    button {
      @include lottery-button-style;
    }
  }

  .loading {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 15rem;

    img {
      height: 15rem;
      width: 15rem;
    }

    h6 {
      font-family: my-font;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  .hide {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .lottery {
    height: 71.26vh;
  }
}